<html>
  <head>
    <title>home_Me</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/css/newlisting.css'/>
    <link rel='stylesheet' href='/css/navbar.css'/>
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <%- include('../partials/navbar.ejs')  %>
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <section>
            <div class="row">
              <div class="6u$ 12u$(medium)"></div>
            </div>
            <section>
              <form method="post" action="#">
                <div id="chatroomList" class="row uniform">
                </div>
                <div class="row uniform">
                  <div class="6u 12u$(xsmall)">
                    <input type="text" name="demo-name" id="chatroomName" value="" placeholder="Chatroom Name" />
                  </div>
                  <div class="6u 12u$(xsmall)">
                    <input type="password" name="demo-name" id="chatroomPassword" value="" placeholder="Chatroom Password" />
                  </div>
                </div>
              </form>
            </section>
            <div class="row">
              <div class="6u 12u$(medium)">
                <ul class="actions">
                  <li><a href="#" class="button special" id="createChat">Create Chatroom</a></li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>

      <%- include('../partials/footer.ejs')  %>

    </div>
    <!-- Scripts -->
    <script rel="javascript" src="/js/groupchats.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
